<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/mainStyle.css">
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>personId</th>
        <th>theDateOfTheAssignmentOfTheRankOfSeniorOfficer</th>
    </tr>

    <tr th:each="pettyofficer : ${pettyofficerList}">
        <form th:action="@{/pettyofficerList}" th:object="${pettyofficer}" method="post">
            <td style="border-left: 2px solid #040014"><input type="number" th:value="${pettyofficer.id}" name="id" readonly/></td>

            <td><input type="number" th:value="${pettyofficer.personId}" name="personId"/></td>
            <td><input type="date" th:value="${pettyofficer.theDateOfTheAssignmentOfTheRankOfSeniorOfficer}" name="theDateOfTheAssignmentOfTheRankOfSeniorOfficer"/></td>
            <td class="ButtonCell">
                <button type="submit" name="action" value="save" class="BluBtn">Save</button>
            </td>
            <td class="ButtonCell">
                <button type="submit" name="action" value="delete" class="RedBtn">Delete</button>
            </td>
        </form>

    </tr>

    <form th:action="@{/pettyofficerList}" th:object="${pettyofficerEntity}" method="post">
        <tr>
            <td style="border-left: 2px solid #040014">
                <input type="number" th:value="${pettyofficerEntity.id}" name="id"/></td>
            <td>                <input type="number" th:value="${pettyofficerEntity.personId}" name="personId"/></td>
            <td>                <input type="date" th:value="${pettyofficerEntity.theDateOfTheAssignmentOfTheRankOfSeniorOfficer}" name="theDateOfTheAssignmentOfTheRankOfSeniorOfficer"/></td>
            <td class="ButtonCell">
                <button type="submit" name="action" value="add" class="BluBtn LastBtn">Add</button>
            </td>
        <tr/>

    </form>
</table>
</body>
</html>